.estimate, .course, .studname {
    padding: 50px;
    background-color:rgb(29, 117, 175);
    color:black;
    border: solid black;
}

.deleting {
    padding: 25px;
    background-color: brown;
    color: black;
    border: solid black;
}

.sum {
    padding: 20px;
    background-color:tomato;
    color:rgb(73, 15, 150);
    border: solid black;
}

.active {
    background-color: green;
}
.semi_active {
    background-color: yellow;
}

.non_active {
    background-color: red;
}

.checking {
    background-color: grey;
}